@import '../../theme/theme';
.modal-full {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: $white;
  border: 1px solid $primary-color;
  z-index: 103;
}

.modal-title {
  position: relative;
  min-width: 320px;
  height: 48px;
  line-height: 45px;
  padding: 0 15px;
  background-color: $primary-color;
  text-align: center;
  color: $white;
  z-index: 999;
}

.modal-content-wrapper {
  position: relative;
  min-width: 320px;
  height: 100%;
  padding-bottom: 50px;
  overflow: scroll;
}

.modal-content {
  padding: 0 0 50px;
}

.title-right {
  position: absolute;
  top: 0;
  right: 15px;
}
