$primary-color: #00bcd4;
$primary-light: rgba(178, 235, 242, 0.3);
$shadow-color: rgba(0, 0, 0, .4);
$shadow-color-light: rgba(230, 230, 230, .7);
$grey: rgba(0, 0, 0, .54);
$grey-bg: rgba(0, 0, 0, .32);
$grey-border: rgba(0, 0, 0, .06);
$grey-hover: #fafafa;
$white: #fff;
