<div class="table-container">
  <table class="table" *ngIf="table">
    <thead>
      <tr>
        <th *ngFor="let title of table.titles">{{title.name}}</th>
      </tr>
    </thead>
    <tbody *ngIf="table.lists">
      <tr *ngFor="let list of table.lists">
        <td *ngFor="let title of table.titles" [ngSwitch]="title.controlType" data-title="{{title.name}}">
          <div *ngSwitchCase="controlType.text" [style.minWidth.px]="title.minwidth" [style.maxWidth.px]="title.maxwidth">
            <span>{{list[title.key] == 0 ? list[title.key] : list[title.key] || ''}}</span>
          </div>
          <div *ngSwitchCase="controlType.date" [style.minWidth.px]="title.minwidth" [style.maxWidth.px]="title.maxwidth">
            <span>{{list[title.key] | date:"yyyy/MM/dd HH:mm"}}</span>
          </div>
          <div *ngSwitchCase="controlType.image" class="table-img">
            <img src="{{list[title.key]}}">
          </div>
          <div *ngSwitchCase="controlType.button" [style.minWidth.px]="title.minwidth">
            <button md-raised-button (click)="gotoHandle(title.key,list)">
              {{title.option || title.name}}
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="page-items clear" *ngIf="table.ifPage">
  <a class="item" (click)="getFirstPage()">
    <md-icon>first_page</md-icon>
  </a>
  <a class="item" (click)="getPrePage()">
    <md-icon>chevron_left</md-icon>
  </a>
  <a class="item" *ngFor="let page of pageList" [class.item-active]="page-1 === table.currentPage" (click)="getCurrentPage(page)">{{page}}</a>
  <a class="item" (click)="getNextPage()">
    <md-icon>chevron_right</md-icon>
  </a>
  <a class="item" (click)="getLastPage()">
    <md-icon>last_page</md-icon>
  </a>
</div>
